/* INIZIO RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* INIZIO STILI GENERICI */
body {
  text-align: center;
  font-family: 'Manrope', sans-serif;
}

header {
  height: 400px;
  width:100%;
  padding: 0 10%;
  background: #0c325a;
  overflow: hidden;
  z-index: -1;
}

a {
  color: white;
  text-decoration: none;
}

main {
  height: 800px;
  width: 100%;
  background: lightgrey;/* cancellare */
}

footer {
  height: 300px;
  width: 100%;
  background: grey;/* cancellare */
}

/* FINE STILI GENERICI */

/* Inizio Stili Header */
header .menu {
  height: 20%;
  width: 100%;
}
header .menu .logo img {
  float:left;
  display: inline-block;
  top: 0;
  right: 0;
  height: 100px;
  transform: translate(0%, -10%);
}
header .menu .opzioni li {
  list-style: none;
  display: inline-block;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 31px 15px;
  float:left;
}

header .menu .buttons li {
  float: right;
  list-style: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  margin: 25px 1%;
}
header .menu .buttons .login {
  border: 2px solid white;
  border-radius: 5px;
}
header .menu .buttons .piano {
  background: green;
  padding: 5px;
  border-radius: 5px;
}

header .slogan {
  height: 80%;
  width: 50%;
  float: left;
  text-align: left;
  color: white;
}
header .slogan h1 {
  margin: 20px 250px 40px 0px;
}

header .slogan h2 {
  font-size: 20px;
  width: 36%;
  padding: 5px;
  background: green;
  border-radius: 5px;

}
header .image img {
  float: right;
  height: 300px;
  top: 100%;
  left: 100%;
  transform: translate(36%, -101%);
}

header::after {
  content: '';
  display: table;
  clear: both;
}
/* Fine Stili Header */

/* Inizio Stili Main */
main .presentazione {
  height: 10%;
  width: 100%;
  color: black;
  background: darkgrey;
}
main .presentazione h2 {
  line-height: 50px;
  font-weight: 800;
}

main .settore {
  height: 45%;
  width: 100%;
  background: white; /* cancellare */
  margin: auto;
}

main .settore .vantaggio {
  float:left;
  width: 30%;
  height: 100%;
}
main .settore .vantaggio:first-child {
  margin-left: 5%;
}

main .settore .vantaggio:last-child {
  margin-right: 5%;
}

main .settore .vantaggio img {
  height: 40%;
  margin: 2% 0;
}

main .settore .vantaggio h2 {
  font-weight: 700;
  font-size: 120%;
  margin: 0 10%;
  color: lightgreen;
}

main .settore .vantaggio hr {
  width: 20%;
  margin: auto;
}

main .settore .vantaggio p {
  height: 40%;
  padding: 0 5%;
  margin: 2% 0;
}

main .uno {
  border-bottom: 2px solid darkgrey;
}
/* Fine Stili Main */

/* Inizio Stili Footer */

/* Fine Stili Footer */
