/* INIZIO RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* INIZIO STILI GENERICI */
body {
  position:relative;
  text-align: center;
  font-family: 'Manrope', sans-serif;
}

header {
  height: 400px;
  width:100%;
  padding: 0 10%;
  background: #0c325a;
  overflow: hidden;
  z-index: -1;
}

a {
  color: white;
  text-decoration: none;
}

main {
  height: 800px;
  width: 100%;
  background: white;
}

footer {
  height: 100px;
  width: 100%;
  background: lightgrey;
}

/* FINE STILI GENERICI */

/* Inizio Stili Header */
header .menu {
  height: 20%;
  width: 100%;
}
header .menu .logo img {
  float:left;
  display: inline-block;
  top: 0;
  right: 0;
  height: 40px;
  transform: translate(0%, 50%);
}
header .menu .opzioni li {
  list-style: none;
  display: inline-block;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 31px 20px;
  float:left;
}

header .menu .buttons li {
  float: right;
  list-style: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  margin: 25px 1%;
}
header .menu .buttons .login {
  border: 2px solid white;
  border-radius: 5px;
}
header .menu .buttons .piano {
  background: green;
  padding: 5px;
  border-radius: 5px;
}

header .slogan {
  height: 80%;
  width: 40%;
  float: left;
  color: white;
}
header .slogan h1 {
  margin: 20px 250px 40px 0px;
  text-align: left;
}

header .slogan h2 {
  font-size: 20px;
  width: 36%;
  padding: 5px;
  background: green;
  border-radius: 5px;

}

header .image img {
  float: right;
  height: 300px;
  transform: translate(35%, 25px);
}

header::after {
  content: '';
  display: table;
  clear: both;
}
/* Fine Stili Header */

/* Inizio Stili Main */
main .presentazione {
  height: 10%;
  width: 100%;
  color: black;
  background: darkgrey;
}
main .presentazione h2 {
  line-height: 50px;
  font-weight: 800;
}

main .settore {
  height: 45%;
  width: 100%;
  background: white; /* cancellare */
  margin: auto;
}

main .settore .vantaggio {
  float:left;
  width: 30%;
  height: 100%;
}
main .settore .vantaggio:first-child {
  margin-left: 5%;
}

main .settore .vantaggio:last-child {
  margin-right: 5%;
}

main .settore .vantaggio img {
  height: 40%;
  margin: 2% 0;
}

main .settore .vantaggio h2 {
  font-weight: 700;
  font-size: 120%;
  padding: 1.5% 0;
  margin: 0 10%;
  color: lightgreen;
}

main .settore .vantaggio hr {
  width: 20%;
  margin: auto;
}

main .settore .vantaggio p {
  height: 40%;
  padding: 3% 5%;
  color: darkgrey;
}

main .uno {
  border-bottom: 2px solid darkgrey;
}
main .due img {
  float: left;
  width: 42%;
  margin: 3% 0;
  height: 80%;
  margin-left: 5%;
  margin-right: 3%;
}

main .due .descrizione {
  float: right;
  width: 42%;
  height: 84%%;
  margin: 3% 0;
  margin-left: 3%;
  margin-right: 5%;
  text-align: left;
}
main .due .descrizione p {
  margin-bottom: 5%;
  color: darkgrey;
}

main .due .descrizione a p {
  color: blue;
  text-decoration: underline;
}
/* Fine Stili Main */

/* Inizio Stili Footer */
footer .titolo-footer h2 {
  clear:left;
  text-align: left;
  float:left;
  margin-left: 5%
}

footer .info {
  float: right;
  margin-right: 5%;
}
footer .info ul li{
  list-style: none;
  display: inline-block;

}
footer .info input{
  background: lightgrey;
  border: none;
  text-align: center;
  border-bottom:1px solid black;
  margin: 0 10px;
}

footer a {
  background: green;
  padding: 5px;
  border-radius: 5px;
}

/* Fine Stili Footer */

h3 {
  position: fixed;
  bottom: -20px;
  right: 5%;
  height: 5%;
  width: 5%;
  background: green;
  color:white;
  border-radius: 5px;

}
